{
  "extends": [
    "stylelint-config-prettier"
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": []
      }
    ],
    "selector-type-no-unknown": null
  }
}
