<form [formGroup]="inportForm" (ngSubmit)="submitFunc()">
    <div class="field">
        <input type="text" placeholder="Type-a-City-or-Didok-Number" formControlName="input" />
    </div>
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
<div id="isEmpty" class="hidden">
    <p>Bitte geben Sie eine Didok-Nummer oder eine Stadt in der Schweiz an</p>
</div>
<div id="isCorrect" class="hidden">
    <p>Bitte geben Sie eine gültige Didok-Nummer oder Stadt in der Schweiz an</p>
</div>
<div id="map"></div>
