body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#einlogenhone {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#to-register {
  background-color: #f2f2f2;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#registerhone {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

#to-login {
  background-color: #f2f2f2;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

/* styles für das update Form*/

#updatetitel,
#updatetext,
#updatebild {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#updatesubmit {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#updatesubmit:hover {
  background-color: #45a049;
}
.form {
  width: 50%;
  margin: 50px auto;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#titel,
#text {
  height: 100px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

#submit {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#submit:hover {
  background-color: #45a049;
}

#reset {
  background-color: #f44336;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
button#createlogout,
button#createhome {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button#createlogout,
button#createhome {
  background-color: #d32f2f;
}

.logout-div,
.home {
  text-align: center;
}

#listOfPeople {
  height: 100px;
}

#listOfPeople,
button#add {
  margin-top: 10px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#header h1 {
  margin: 0;
}

#memorys {
  border: 2px solid #000;
  padding: 20px;
}

#memorys h1 {
  margin-bottom: 10px;
}

#memorys ul {
  list-style: none;
  padding: 0;
}

#memorys li {
  margin-bottom: 20px;
}

.memory-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.memory-item h2 {
  margin-top: 0;
}

.btnDelete,
.btnUpdate {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.btnDelete:hover,
.btnUpdate:hover {
  background-color: #d32f2f;
}

.btnLogout,
.btnErstellen,
.btnMeine,
.btnGranted {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.btnLogout:hover,
.btnErstellen:hover,
.btnMeine:hover,
.btnGranted:hover {
  background-color: #45a049;
}
